.App {
    --header_height: 60px;
}

.hw {
    padding: 24px 0 32px;
    border-top: 1px solid var(--palette-light-silver);
    border-bottom: 1px solid var(--palette-light-silver);
}

.hwTitle {
    margin: 10px 0;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
}