.greetingForm {
    height: 90px;
}

.inputAndButtonContainer {
    display: flex;
    align-items: start;
}

.error {
    color: var(--palette-boston-university-red);
}

.input {
    padding: 8px 12px           ;
    width:370px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 12px;
    border: 1px solid var(--palette-black);
    border-radius: 3px;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 1px solid var(--palette-boston-university-red);
}

.button {
    padding: 8px 24px;
    background-color: var(--palette-true-blue);
    color: var(--palette-white);
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
}

.greeting {
}
