.selectWrapper {
   position: relative;
}

.selectWrapper:before {
    content:'';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url("chevron-down.svg");
    transform: translateY(-50%);
    /*cнимаем клик c картинки*/
    pointer-events: none;
    transition: transform .2s ease-in;
}


.selectWrapper.active:before {
    content:'';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url("chevron-down.svg");
    transform: translateY(-50%) rotate(180deg);

    /*cнимаем клик c картинки*/
    pointer-events: none;
}

.select {
    color: inherit;
    width: 165px;
    height: 24px;
    border: 1px solid #C2C2C2;
    background-color: inherit;
    outline: none;
    border-radius: 2px;
    box-shadow: none;
    font-size: 14px;
    line-height: 17px;
    padding: 0 24px 0 10px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select::-ms-expand {
    display: none;
}

.select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #C2C2C2;

}
.option.active {
   border: 1px solid red;
}

.option:hover {

}

