.button {
    padding: 5px 24px;
    border: 1px solid var(--palette-true-blue);
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition:  background-color .3s ease-in;
    cursor: pointer;
}

.disabled {
    background-color: var(--palette-cool-black);
    border: 1px solid var(--palette-cool-black);
    color: var(--palette-white);
    opacity: 0.5;
    cursor: auto;
}

.secondary {
    background-color: var(--palette-white);
    color: var(--palette-true-blue);
    border: 1px solid var(--palette-true-blue);
}

.default {
    background-color: var(--palette-true-blue);
    color: var(--palette-white);

}

.red {
    background-color: var(--palette-cardinal);
    color: var(--palette-white);
    border: 1px solid var(--palette-cardinal);
}

.default:hover {
    background-color: var(--palette-azure);
}

.red:hover {
    background-color: var(--palette-awesome);
}

.secondary:hover {
    background-color: var(--palette-lavender);
}


.default:active {
    background-color: var(--palette-sapphire);
}

.secondary:active {
    background-color: var(--palette-water);
}

.red:active {
    background-color: var(--palette-venetian-red);
}

.button:disabled {
}
